@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.allpage {
  height: 100vh;
}
.main-imge {
  background-image: url(../image/Background.png);
  width: 426px;
  height: 406px;
  display: flex;
  justify-content: space-between;
}
.coffe {
  align-self: center;
  width: 350px;
}
.product-img {
  width: 426px;
  height: 406px;
}

.amount {
  width: 40px;
  height: 120px;
  margin-top: 35%;
}
.back {
  width: 32px;
  height: 32px;
  margin-top: 10%;
  margin-left: 1%;
}
/* start product-details */
.product-details {
  width: 415px;
  height: 413px;
  padding: 5px;

  border-radius: 5px;
  margin: 0px;
}
.name-and-price {
  width: 311px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin: 28px 32px;
}
.name {
  width: 182px;
  height: 25px;
  font-family: Readex Pro, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #323232;
}
.price {
  width: 96px;
  height: 32px;
  font-family: Readex Pro, sans-serif;
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
  color: #323232;
}
.size #grande::after {
  content: "";
  width: 74px;
  height: 5px;
  position: absolute;
  background: #b88af8;
  bottom: 54px;
  right: 0px;
}
#detail {
  font-family: Readex Pro;
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 190px;
  top: 559px;

  color: #323232;
}
.prosizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 415px;
  height: 69px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.prosizes p {
  font-family: Readex Pro;
  font-size: 17px;
  line-height: 24px;
}
#grande {
  width: 74px;
  height: 24px;
  color: #323232;
  margin: 0px 32px;
  position: relative;
}
.size2 {
  width: 52px;
  height: 24px;
  font-weight: 300;
  color: #c7c7cc;
}
.size3 {
  width: 57px;
  height: 24px;
  font-weight: 300;
  color: #ebebeb;
}
/* start describtion */
.describtion {
  width: 311px;
  height: 84px;
  margin: 32px;
}
.describtion p {
  font-family: Readex Pro;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #8e8e93;
}
/* start buttons */
.buttons {
  width: 360px;
  height: 64px;
  margin: 54px 36px;
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  padding: 10px;
}
.buttons img {
  width: 64px;
  height: 64px;
}
.buttons a {
  width: 239px;
  height: 64px;
  color: #ffffff;
  background: #323232;
  border-radius: 64px;
  font-family: Readex Pro;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  padding: 19px 65px;
}
